* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #181C14;
}

.allContent {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}


.header {
  margin-top: 50px;
  margin-bottom: 75px;
  color: white;
}

.projectList {
  margin-bottom: 20px;
  color: black;
  border-radius: 5px;
  background-color: #697565;
}

.projects {
  display: flex;
  list-style: none;
  cursor: pointer;
}

.project:hover {
  color: white;
  transition-duration: 0.5s;
}

.project {
  padding:5px; 
  border-right: 1.5px solid black;
}



.todoListBoard {
  height: 500px;
  width: 35vw;
  background-color: #3C3D37;
  border-radius: 10px;
  box-shadow:
    0 0 px 1px #fff;

}

.todoTasks {
  display: flex;
  flex-direction: column;
  margin: 15px;
  gap: 15px;
}

.todo {
  padding: 10px;
  min-height: 75px;
  color: black;
  background-color: #ECDFCC;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.todoTop {
  display: flex;
  gap: 20px;
  flex-wrap: nowrap;
}

.todoBottom {
  margin-top: 10px;
  
}

.todoName {
  margin-right: auto;
  white-space: no-wrap;
}

.todoEdit {
  border-radius: 3px;
  padding: 10px;
  background-color: #998e7c;
  color: black;
  cursor: pointer;
}

.todoDelete {
  border-radius: 3px;
  padding: 10px;
  background-color: #998e7c;
  color: black;
  cursor: pointer;
}

.todoDelete:hover {
  background-color: red;
  color: white;
  transition-duration: 0.5s;
}

.todoEdit:hover {
  background-color: #6c655a;
  transition-duration: 0.5s;
}